
<div class="dashboard">
  <h1> Student Dashboard</h1>

  <div class="form">
    <input [(ngModel)]="studentName"  type="text" placeholder="Enter name" />
    <input [(ngModel)]="studentGrade"  type="text" placeholder="Enter grade (A/B/C)" />
    <button (click)="addStudent()">Add Student</button>
  </div>

  <div *ngIf="students.length === 0" class="no-students">
    No students were found.
  </div>

  <ul>
    <li *ngFor="let student of students" [ngClass]="getColorClass(student.grade)">
       {{ student.name }} - Grade: {{ student.grade }} {{ getGradeLabel(student.grade) }}
    </li>
  </ul>
</div>
